[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=3.0,<4"
ipdb = "0.13.9"
pytest = "7.2.0"
# remove backports on Python 3.13:
# importlib-metadata
# importlib-resources

[requires]
python_version = "3.13"